#allnews {
  flex-grow: 1;
  overflow-y: auto;
  justify-content: center;
  background: var(--bgColor);
}

#allnews > h1 {
  color: #fff;
  padding: 4.5rem 0.75rem 0;
}

#allNewsFilter {
  display: flex;
  gap: 0.75rem;
  padding: 0 0.75rem 0 0;
  align-items: center;
}

#popularCategories {
  display: flex;
  flex-grow: 1;
  gap: 0.75rem;
  padding: 0.5rem 0 0.5rem 0.75rem;
  overflow-x: auto;
}

#popularCategories > button {
  background: transparent;
  padding: 0.25rem 0.75rem;
  border: 1px solid #fff6;
  border-radius: 2rem;
  color: #fff6;
}

#filterButton {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background: transparent;
  border: 0;
  color: #fff;
}

#allnewscontainer {
  display: flex;
  gap: 0.75rem;
  padding: 0.75rem;
}

#allnewscontainer > div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex: 1 0 0;
}

@media screen and (min-width: 750px) {
  #allnews > h1 {
    padding: 1.5rem 1.5rem .75rem;
  }

  #allNewsFilter {
    padding: 0 1.5rem 0 0;
  }

  #popularCategories {
    padding: 0.5rem 0 0.5rem 1.5rem;
    overflow-x: auto;
    flex-grow: 0;
  }

  #filterButton{
    cursor: pointer;
  }

  #allnewscontainer {
    gap: 1.5rem;
    padding: 1.5rem;
  }

  #allnewscontainer > div {
    gap: 1.5rem;
  }
}
