#search{
    flex-grow: 1;
    background: var(--bgColor);
    overflow: auto;
}

#search>h1{
    color:#fff;
    padding:4.5rem .75rem 0;
}

#searchBox{
    display: flex;
    border:1px solid var(--primary);
    border-radius: 5rem;
    margin:.75rem .5rem;
}

#searchInput{
    padding:.75rem .75rem .75rem 1rem;
    flex-grow: 1;
    border-radius: 5rem 0 0 5rem;
    border:0;
    background: transparent;
    color:#fff
}

#searchButton{
    background: transparent;
    border:0;
    border-radius: 0 5rem 5rem 0;
    color:var(--primary);
    font-size:1.25rem;
    padding:0 1rem;
    display: flex;
    align-items: center;
}

#categories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap:.75rem;
    padding:.75rem;
}

.category{
    padding:2rem .5rem;
    border-radius: .25rem;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
}

.category:nth-child(6n){
    background:radial-gradient(#095B5D 0 .2rem,#042A2B .2rem);
    background-size:.4rem .4rem;
    color:#EBFFFE;
}

.category:nth-child(6n-1){
    background-image:linear-gradient(102.5deg,var(--secondary) 0% 20%, #21949B 20% 40%, #3F738B 40% 60%, #5D527C 60% 80%, #7A306C 80%);
    background-size: 5%;
    color:#ddd;
}

.category:nth-child(6n-2){
    background:linear-gradient(60deg, #D90429,var(--bgColor));
    color:#fff
}

.category:nth-child(6n-3){
    background:radial-gradient(circle at 10% 10%,#BCE0F0 0 20%,#8ECAE6 20% 40%,#219EBC 40% 60%,#045E8B 60% 80%,#023047 80%);
    color:var(--bgColor)
}

.category:nth-child(6n-4){
    background:linear-gradient(45deg, #0C1B33 50%, #7A306C 50%);
    background-size: 1rem 1rem;
    background-position: center;
    position: relative;
}

.category:nth-child(6n-4)::before{
    content:attr(data-content);
    background:linear-gradient(135deg, #432650 50%, transparent 50%);
    background-size:1rem 1rem;
    background-position: center;
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    border-radius: inherit;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#E5DCDD;
}

.category:nth-child(6n-5){
    background:linear-gradient(135deg,#C1FD35,#102342)
}


@media screen and (min-width:750px) {
    #search>h1{
        padding:1.5rem 1.5rem 0;
    }

    #searchBox{
        margin:1rem 1.25rem;
        max-width:800px
    }

    #searchInput{
        font-size:1rem
    }

    #searchButton{
        font-size:1.5rem
    }

    #categories{
        padding:.75rem 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    .category{
        padding: 3.5rem 1rem;
        cursor: pointer;
        font-size:1.15rem
    }
}