header{
    width:100%;
    display: flex;
    padding:.5rem 1rem;
    justify-content: space-between;
    background: rgba(0,0,0,0.2) linear-gradient(180deg,rgba(0,0,0,0.3),rgba(0,0,0,0.2));
    border-bottom:1px solid #fff;
    align-items: center;
    color:#fff;
    position: fixed;
    z-index: 99;
}

#logo{
    font-size:1.3rem;
    font-weight: 600;
    color:#fff;

}