header{
    width:100%;
    display: flex;
    padding:1rem 1rem;
    justify-content: space-between;
    background: linear-gradient(180deg,rgba(0,0,0,0.5),rgba(0,0,0,0));
/*  border-bottom:1px solid #fff; */
    align-items: center;
    color:#fff;
    position: fixed;
    z-index: 99;
}

#logo{
    font-size:1.3rem;
    font-weight: 600;
    color:#fff;
}

#logo span{
    color:#c3dd1c;
    text-decoration: underline;
}

#openMenu{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}