#nav{
    background:var(--bgColor);
    border-top:1px solid #fff
}

#navLogo{
    display: none;
}

#navContainer{
    display: flex;
    padding:.5rem 0;
    gap:1rem;
}

.menuButton{
    flex: 1 0 0;
    background-color: transparent;
    border: 0;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.5rem;
    padding:.5rem 0
}

.menuButton p{
    display: none;
}

@media screen and (min-width:750px) {
    #nav{
        border:0;
        border-right:1px solid #fff;
        display: flex;
        flex-direction: column;
    }

    #navLogo{
        display: block;
        font-size:1.5rem;
        font-weight: 600;
        color:#fff;
        padding:1.5rem;
    }

    #navLogo span{
        color:var(--primary);
        text-decoration: underline;
    }

    #navContainer{
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        flex-grow: 1;
        gap:0
    }

    .menuButton{
        display: flex;
        text-decoration: none;
        gap:.5rem;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 0;
        padding:1.5rem;
    }

    .menuButton:hover{
        background: #fff1;
    }

    .menuButton p{
        display: block;
        font-size:1rem;
        white-space: nowrap;
    }
}