.news {
  height: 100%;
  display: flex;
  flex-direction: column;
  scroll-snap-align: center;
}

.news > .imgAndButtons {
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.newsButtonsContainer {
  display: flex;
  align-items: center;
  padding: 1.5rem 0.75rem 0;
  background: linear-gradient(180deg, rgba(11, 32, 66, 0) 0%, #0b2042 90%);
  width: 100%;
  justify-content: flex-end;
  gap:.75rem;
}

.newsWriter {
  background: #fff;
  font-size: 14px;
/* padding: 0.25rem 0.5rem 0.25rem 0.25rem; */
  padding:.5rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  gap:.5rem;
  display: none; /* Not displayed because there aren't writer images and publish dates */
}

.newsWriter img{
    width:2rem;
    height:2rem;
    border-radius: 50%;
    display: block;
    border:1px solid #0b2042
}

.newsWriter p{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.newsActions{
    display:flex;
    gap:.5rem;
}

.newsActions>button,.share{
    background:#2255aa;
    border:0;
    border-radius: 3rem;
    color:#fff;
    display: flex;
    align-items: center;
    gap:.25rem;
    font-size:12px;
    cursor: pointer;
}

.newsActions>button>svg, .share svg{
    font-size: 18px;
}

.like,.comment{
    padding:.5rem .75rem;
}

.share{
    padding:.5rem;
    flex-shrink: 0;
    height:100%;
    aspect-ratio: 1;
    position: relative;
}

.shareMenu{
  position: absolute;
  width:fit-content;
  white-space: nowrap;
  right:0;
  bottom:0;
  transform: translateY(calc(100% + 1.5rem));
  background: #fff;
  padding:.75rem;
  border-radius: .5rem;
  box-shadow: -1rem 1rem 3rem;
  transition: .25s ease-in-out;
  color:#0b2042;
  opacity: 0;
  visibility: hidden;
}

.share.active .shareMenu{
  opacity: 1;
  visibility: visible;
  transform: translateY(calc(100% + .5rem));
}

.NewsContentContainer {
  background: #0b2042;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.newsContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #fff;
}

.newsHeader {
  font-size: 22px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.newsContent > p {
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.dateAndMore{
    display: flex;
    justify-content: space-between;
}

.newsDate{
    color:#fff;
    font-size:12px;
    font-style: italic;
}

.readMore{
    color:#DD6B1C;
    font-size:12px;
    display:block;
    text-decoration: none;
}