.smallNews{
    display: flex;
    width:100%;
    flex-direction: column;
    background: #616c7d;
    border-radius: .25rem;
    color:#fff;
}

#allnewsleft .smallNews:nth-child(3n){
    background:var(--primary);
    color:var(--bgColor)
}

#allnewsright .smallNews:nth-child(4n-3){
    background:var(--accent);
    color:#000
}

#allnewsright .smallNews:nth-child(4n){
    background:var(--thirdColor);
    color:#fff
}

.smallNewsImage{
    width:100%;
    flex-shrink: 0;
}

.smallNewsImage img{
    width: 100%;
    display: block;
    border-radius: .25rem .25rem 0 0;
}

.smallNewsContent{
    padding:.75rem;
}

.smallNewsContent h1{
    font-size:1rem;
    font-weight: 400;
    color:inherit;
}